<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      	
      	<!--
      	  ==========================================
      	    Journal Explorer Views
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%Plugin-Category"
            id="org.bac.gati.tools">
      </category>
      <view
            name="%JournalExplore-View"
            icon="icons/journal_explorer.png"
            category="org.bac.gati.tools"
            class="org.bac.gati.tools.journalexplorer.ui.views.JournalExplorerView"
            id="org.bac.gati.tools.journalexplorer.ui.views.JournalExplorerView">
      </view>
      <view
            category="org.bac.gati.tools"
            class="org.bac.gati.tools.journalexplorer.ui.views.JournalEntryView"
            icon="icons/segment_edit.png"
            id="org.bac.gati.tools.journalexplorer.ui.views.JournalEntryView"
            name="%JournalEntryViewer-View">
      </view>
      <view
            category="org.bac.gati.tools"
            class="org.bac.gati.tools.journalexplorer.ui.views.JournalEntryDetailsView"
            icon="icons/details.png"
            id="org.bac.gati.tools.journalexplorer.ui.views.JournalEntryDetailsView"
            name="%JournalEntryDetailsViewer-View">
      </view>
   </extension>
      	
      	<!--
      	  ==========================================
      	    Journal Explorer Perspective
      	  ==========================================
      	-->

   <extension point="org.eclipse.ui.perspectives">
   
      <perspective 
	       id="org.bac.gati.tools.journalexplorer.ui.perspective.JournalExplorerPerspectiveLayout" 
	       name="Journal Explorer"
	       class="org.bac.gati.tools.journalexplorer.ui.perspective.JournalExplorerPerspectiveLayout"
	       icon="icons/journal_explorer.png">
      </perspective>
       
   </extension>   
</plugin>
