<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

      	<!--
      	  ==========================================
      	    iSphere Menu Contribution
      	  ==========================================
      	-->
   
	<extension
         point="org.eclipse.ui.actionSets">
         
      <actionSet
            id="biz.isphere.rcp.actionSet"
            label="iSphere RCP Actions"
            visible="true">
         
         <action
               class="biz.isphere.rcp.journalexplorer.OpenJournalOutputFileAction"
               id="biz.isphere.rcp.menu.openjournaloutputfile"
               definitionId="biz.isphere.rcp.command.JournalOutputFile.open"
               label="Open Journal Output File"
               icon="icons/open_journal_output_file.png"
               menubarPath="biz.isphere.core.menu.isphere/additions">
         </action>
         
         <action
               class="biz.isphere.rcp.journalexplorer.OpenJournalJsonFileAction"
               id="biz.isphere.rcp.menu.openjournaljsonfile"
               definitionId="biz.isphere.rcp.command.JournalJsonFile.open"
               label="Open Journal Json File"
               icon="icons/open_journal_json_file.png"
               menubarPath="biz.isphere.core.menu.isphere/additions">
         </action>
         
      </actionSet>
   </extension>
   
      	<!--
      	  ==========================================
      	    iSphere Commands
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.commands">
         
      <category
            name="iSphere RCD"
            id="biz.isphere.rcd.Commands">
      </category>
      
      <command
            defaultHandler="biz.isphere.rcp.journalexplorer.OpenJournalOutputFileAction"
            id="biz.isphere.rcp.command.JournalOutputFile.open"
            categoryId="biz.isphere.rcd.Commands"
            name="Open Journal Output File">
      </command>
      
      <command
            defaultHandler="biz.isphere.rcp.journalexplorer.OpenJournalJsonFileAction"
            id="biz.isphere.rcp.command.JournalJsonFile.open"
            categoryId="biz.isphere.rcd.Commands"
            name="Open Journal Json File">
      </command>
   </extension>
      	
      	<!--
      	  ==========================================
      	    Journal Explorer Perspective
      	  ==========================================
      	-->

   <extension point="org.eclipse.ui.perspectives">
   
      <perspective 
	       id="biz.isphere.rcp.perspectives.JournalExplorerPerspectiveLayout" 
	       name="%Perspective_Journal_Explorer"
	       class="biz.isphere.rcp.perspectives.JournalExplorerPerspectiveLayout"
	       icon="icons/journal_explorer.png">
      </perspective>
       
   </extension>   

</plugin>
