<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

      	<!--
      	  ==========================================
      	    iSphere Menu Contribution
      	  ==========================================
      	-->
   
   <extension
         point="org.eclipse.ui.actionSets">
         
      <actionSet
            id="biz.isphere.core.actionSet"
            label="%menu_iSphere_Menu"
            visible="true">
            
         <menu
               id="biz.isphere.core.menu.isphere"
               label="%menu_iSphere">
	         <separator name="group0" visible="true" />
	         <separator name="additions" visible="true" />
	         <separator name="transferlibrary" visible="true" />
	         <separator name="help" visible="true" />
         </menu>
         
         <action
               class="biz.isphere.rse.actions.TransferLibraryAction"
               id="biz.isphere.rse.actions.TransferLibraryAction"
               definitionId="biz.isphere.core.command.iSphereLibrary.transfer"
               label="%menu_Transfer_iSphere_library"
               icon="icons/transfer_library_16.gif"
               menubarPath="biz.isphere.core.menu.isphere/transferlibrary"
               tooltip="%menu_Tooltip_Transfer_iSphere_library">
         </action>
         
         <action
               class="biz.isphere.rse.actions.DisplayHelpAction"
               id="biz.isphere.rse.actions.DisplayHelpAction"
               definitionId="biz.isphere.core.command.iSphereHelp.display"
               label="%menu_Display_iSphere_help"
               icon="icons/systemhelp.gif"
               menubarPath="biz.isphere.core.menu.isphere/help"
               tooltip="%menu_Tooltip_Display_iSphere_help">
         </action>
         
      </actionSet>
   </extension>


</plugin>
