<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

      	<!--
      	  ==========================================
      	    iSphere Menu Contribution
      	  ==========================================
      	-->
   
   <extension
         point="org.eclipse.ui.actionSets">
         
      <actionSet
            id="biz.isphere.rcp.actionSet"
            label="iSphere RCP Actions"
            visible="true">
         
         <action
               class="biz.isphere.rcp.journalexplorer.OpenJournalOutputFileAction"
               id="biz.isphere.rcp.journalexplorer.OpenJournalOutputFileAction"
               definitionId="biz.isphere.rcp.command.JournalOutputFile.open"
               label="Open Journal Output File"
               menubarPath="biz.isphere.core.menu.isphere/additions">
         </action>
         
         <!--
         <action
               class="biz.isphere.rse.actions.DisplayHelpAction"
               id="biz.isphere.rse.actions.DisplayHelpAction"
               definitionId="biz.isphere.core.command.iSphereHelp.display"
               label="%menu_Display_iSphere_help"
               icon="icons/systemhelp.gif"
               menubarPath="biz.isphere.core.menu.isphere/help"
               tooltip="%menu_Tooltip_Display_iSphere_help">
         </action>
         -->
         
      </actionSet>
   </extension>
   
      	<!--
      	  ==========================================
      	    iSphere Commands
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.commands">
         
      <category
            name="iSphere RCD"
            id="biz.isphere.rcd.Commands">
      </category>
      
      <command
            defaultHandler="biz.isphere.rcp.journalexplorer.OpenJournalOutputFileAction"
            id="biz.isphere.core.command.iSphereHelp.display"
            categoryId="biz.isphere.rcd.Commands"
            name="Open Journal Output File">
      </command>
   </extension>


</plugin>
