<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

      	<!--
      	  ==========================================
      	    iSphere Menu Contribution
      	  ==========================================
      	-->

   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:biz.isphere.core.menu.isphere?endof=additions">

      	<menu
      			id="biz.isphere.rcp.menu.JournalOutputFile"
      			label="%Menu_Journal_Explorer"
      			icon="icons/journal_explorer.png">
	         <command
	               id="biz.isphere.rcp.menu.JournalOutputFile.open"
	               commandId="biz.isphere.rcp.command.JournalOutputFile.open"
	               icon="icons/open_journal_output_file.png">
	         </command>
	         <command
	               id="biz.isphere.rcp.menu.JournalJsonFile.open"
	               commandId="biz.isphere.rcp.command.JournalJsonFile.open"
	               icon="icons/open_journal_json_file.png">
	         </command>
      	</menu>

      	<menu
      			id="biz.isphere.rcp.menu.MessageFile"
      			label="%Menu_Message_File"
      			icon="icons/message_file.gif">
	         <command
	               id="biz.isphere.rcp.menu.MessageFile.compare"
	               commandId="biz.isphere.rcp.command.MessageFile.compare"
	               icon="icons/message_file.gif">
	         </command>
      	</menu>

      </menuContribution>
   </extension>
   
      	<!--
      	  ==========================================
      	    iSphere Commands
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.commands">
         
      <category
            name="iSphere RCD"
            id="biz.isphere.rcd.Commands">
      </category>
      
      <command
            defaultHandler="biz.isphere.rcp.journalexplorer.handlers.OpenJournalOutputFileHandler"
            id="biz.isphere.rcp.command.JournalOutputFile.open"
            categoryId="biz.isphere.rcd.Commands"
            name="%Label_Open_Journal_Output_File">
      </command>
      
      <command
            defaultHandler="biz.isphere.rcp.journalexplorer.handlers.OpenJournalJsonFileHandler"
            id="biz.isphere.rcp.command.JournalJsonFile.open"
            categoryId="biz.isphere.rcd.Commands"
            name="%Label_Open_Journal_From_File">
      </command>
      
      <command
            defaultHandler="biz.isphere.rcp.messagefilecompareeditor.handlers.OpenCompareMessageFileHandler"
            id="biz.isphere.rcp.command.MessageFile.compare"
            categoryId="biz.isphere.rcd.Commands"
            name="%Label_Compare_Message_Files">
      </command>
   </extension>
      	
      	<!--
      	  ==========================================
      	    Journal Explorer Perspective
      	  ==========================================
      	-->

   <extension point="org.eclipse.ui.perspectives">
   
      <perspective 
	       id="biz.isphere.rcp.perspectives.JournalExplorerPerspectiveLayout" 
	       name="%Title_Perspective_Journal_Explorer"
	       class="biz.isphere.rcp.perspectives.JournalExplorerPerspectiveLayout"
	       icon="icons/journal_explorer.png">
      </perspective>
       
   </extension>   

</plugin>
