<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">

         <!--
          ==========================================
            Display Journal Entries contribution for:
            - Physical files         QSysRemoteDataFile,     Type: *FILE    SubType: PF-DTA
            - Physical file Members  QSysRemoteDataMember,   Type: MBR      SubType: DTA
            - Source files           QSysRemoteSourceFile,   Type: *FILE    SubType: PF-SRC
            - Source file Members    QSysRemoteSourceMember, Type: any      SubType: SRC
            - Data Areas (local)     QsysRemoteObject,       Type: *DTAARA  SubType: empty
            - Data Queues (local)    QsysRemoteObject,       Type: *DTAQ    SubType: empty
            - Journals (local)       QsysRemoteObject,       Type: *JRN     SubType: empty
          ==========================================
        -->

        <objectContribution
            objectClass="com.ibm.etools.iseries.comm.interfaces.ISeriesHostObjectBrief"
            id="com.ibm.etools.iseries.subsystems.qsys.objects.QSYSRemoteObject">

            <enablement>
                <or>
                    <and>
                        <!-- physical file -->
                        <instanceof value="com.ibm.etools.iseries.subsystems.qsys.objects.QSYSRemoteDataFile" />
                    </and>

                    <and>
                        <!-- physical file members -->
                        <instanceof value="com.ibm.etools.iseries.subsystems.qsys.objects.QSYSRemoteDataMember" />
                    </and>

                    <and>
                        <!-- source files -->
                        <instanceof value="com.ibm.etools.iseries.subsystems.qsys.objects.QSYSRemoteSourceFile" />
                    </and>

                    <and>
                        <!-- source file members -->
                        <instanceof value="com.ibm.etools.iseries.subsystems.qsys.objects.QSYSRemoteSourceMember" />
                    </and>

                    <and>
                        <!-- local data areas -->
                        <instanceof value="com.ibm.etools.iseries.subsystems.qsys.objects.QSYSRemoteObject" />
                        <test property="biz.isphere.adapter.propertytester.hostobjectbrief.type" value="*DTAARA"/>
                        <test property="biz.isphere.adapter.propertytester.hostobjectbrief.subtype" value=""/>
                    </and>

                    <and>
                        <!-- local data queues -->
                        <instanceof value="com.ibm.etools.iseries.subsystems.qsys.objects.QSYSRemoteObject" />
                        <test property="biz.isphere.adapter.propertytester.hostobjectbrief.type" value="*DTAQ"/>
                        <test property="biz.isphere.adapter.propertytester.hostobjectbrief.subtype" value=""/>
                    </and>

                    <and>
                        <!-- local journals -->
                        <instanceof value="com.ibm.etools.iseries.subsystems.qsys.objects.QSYSRemoteObject" />
                        <test property="biz.isphere.adapter.propertytester.hostobjectbrief.type" value="*JRN"/>
                        <test property="biz.isphere.adapter.propertytester.hostobjectbrief.subtype" value=""/>
                    </and>
                </or>
             </enablement>
             
             <action
                class="biz.isphere.journalexplorer.rse.actions.DisplayJournalEntriesAction"
                enablesFor="*"
                id="biz.isphere.journalexplorer.rse.actions.DisplayJournalEntriesAction"
                label="%Display_Journal_Entries"
                icon="icons/display_journal_entries.gif"
                menubarPath="additions">
             </action>
        </objectContribution>
        
   </extension>
        
        <!--
          ==========================================
            Journal Explorer Perspective
          ==========================================
        -->

   <extension point="org.eclipse.ui.perspectives">

      <!-- ID does not match package, because perspective was moved from core to rse plugin. 21.03.2021 -->
      <perspective 
           id="biz.isphere.journalexplorer.core.ui.perspectives.JournalExplorerPerspectiveLayout" 
           name="%Perspective_Journal_Explorer"
           class="biz.isphere.journalexplorer.rse.shared.ui.perspectives.JournalExplorerPerspectiveLayout"
           icon="icons/journal_explorer.png">
      </perspective>
       
   </extension>

        <!--
          ==========================================
            iSphere Menu Contribution
          ==========================================
        -->

   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:biz.isphere.core.menu.isphere?after=additions2">

         <command
           id="biz.isphere.journalexplorer.menu.journalEntries.display"
           commandId="biz.isphere.journalexplorer.rse.command.journalEntries.display"
           icon="icons/journal_explorer.png">
         </command>

      </menuContribution>
   </extension>

        <!--
          ==========================================
            iSphere Key Bindings
          ==========================================
        -->

   <extension point="org.eclipse.ui.bindings">

      <key 
        sequence="Ctrl+I E"
        commandId="biz.isphere.journalexplorer.rse.command.journalEntries.display"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        contextId="org.eclipse.ui.contexts.window"/>

   </extension>

        <!--
          ==========================================
            Journal Explorer Commands
          ==========================================
        -->

   <extension
         point="org.eclipse.ui.commands">

      <category
            name="iSphere"
            id="biz.isphere.category.Commands">
      </category>

      <command
            defaultHandler="biz.isphere.journalexplorer.rse.handler.DisplayJournalEntriesCommandHandler"
            id="biz.isphere.journalexplorer.rse.command.journalEntries.display"
            categoryId="biz.isphere.category.Commands"
            name="%Display_Journal_Entries">
      </command>

   </extension>

</plugin>
