<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

      	<!--
      	  ==========================================
      	    iSphere Editors
      	  ==========================================
      	-->

	<extension
		point="org.eclipse.ui.editors">
		<editor
			name=""
			icon="icons/joblog_analyzer.png"
			class="biz.isphere.joblogexplorer.editor.JobLogAnalyzerEditor"
			id="biz.isphere.joblogexplorer.editor.JobLogAnalyzerEditor"/>
	</extension>
      	
      	<!--
      	  ==========================================
      	    Job Log Explorer Editor Contributions
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.popupMenus">
         <!--
      <objectContribution
         subsystemfactoryid="biz.isphere.core.spooledfiles.subsystems.factory"
         objectClass="biz.isphere.rse.spooledfiles.SpooledFileResource"
         subtypefilter="*"
         typecategoryfilter="*"
         typefilter="*"
         namefilter="*"
         id="biz.isphere.joblogexplorer.action.OpenJobLogAnalyzerAction">

           <visibility>
              <objectState name="name" value="QPJOBLOG" />
           </visibility>

	       <action
              class="biz.isphere.joblogexplorer.action.OpenJobLogAnalyzerAction"
              enablesFor="1"
              id="biz.isphere.joblogexplorer.action.OpenJobLogAnalyzerAction"
              label="%menu_Job_Log_Explorer"
              icon="icons/joblog_analyzer.png"
              menubarPath="group.browsewith">
	       </action>
      	</objectContribution>
      	-->
      	<objectContribution
            objectClass="biz.isphere.rse.spooledfiles.SpooledFileResource"
            id="biz.isphere.joblogexplorer.menu.spooledfile">

           <visibility>
              <objectState name="biz.isphere.rse.spooledfiles.SpooledFileResource.file" value="QPJOBLOG" />
           </visibility>

	       <action
              class="biz.isphere.joblogexplorer.action.OpenJobLogAnalyzerAction"
              enablesFor="1"
              id="biz.isphere.joblogexplorer.action.OpenJobLogAnalyzerAction"
              label="%menu_Job_Log_Explorer"
              icon="icons/joblog_analyzer.png"
              menubarPath="group.browsewith">
	       </action>
      	</objectContribution>
      	
	</extension>

      	<!--
      	  ==========================================
      	    iSphere Menu Contribution
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.actionSets">

      <actionSet
            id="biz.isphere.joblogexplorer.actionSet"
            label="%menu_iSphere_Menu_Job_Log_Explorer"
            visible="true">

         <action
               class="biz.isphere.joblogexplorer.action.OpenJobLogAnalyzerAction"
               id="biz.isphere.joblogexplorer.action.OpenJobLogAnalyzerAction"
               definitionId="biz.isphere.joblogexplorer.command.JobLogAnalyzer.open"
               label="%menu_Job_Log_Explorer"
               icon="icons/joblog_analyzer.png"
               menubarPath="biz.isphere.core.menu.isphere/additions"
               tooltip="%menu_Tooltip_Opens_the_iSphere_Job_Log_Explorer">
         </action>
      </actionSet>

	</extension>

      	<!--
      	  ==========================================
      	    iSphere Commands
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.commands">

      <category
            name="iSphere"
            id="biz.isphere.category.Commands">
      </category>

      <command
            defaultHandler="biz.isphere.joblogexplorer.handler.OpenJobLogAnalyzerHandler"
            id="biz.isphere.joblogexplorer.command.JobLogAnalyzer.open"
            categoryId="biz.isphere.category.Commands"
            name="%cmd_Open_Job_Log_Explorer">
      </command>

	</extension>

      	<!--
      	  ==========================================
      	    iSphere Key Bindings
      	  ==========================================
      	-->

   <extension point="org.eclipse.ui.bindings">

      <key
        sequence="Ctrl+I J"
        commandId="biz.isphere.joblogexplorer.command.JobLogAnalyzer.open"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        contextId="org.eclipse.ui.contexts.window"/>

   </extension>

</plugin>
